name: authsignal_flutter
description: "The Authsignal Flutter SDK for Passkeys, Push Auth, and Device Credentials"
version: 1.1.2
homepage: "https://github.com/authsignal/authsignal-flutter"

environment:
  sdk: ">=3.2.2 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.authsignal.authsignal_flutter
        pluginClass: AuthsignalPlugin
      ios:
        pluginClass: AuthsignalPlugin
