name: authsignal_flutter_platform_interface
description: Platform interface for the Authsignal Flutter plugin
version: 0.0.1
homepage: https://github.com/authsignal/authsignal-flutter

environment:
  sdk: ">=3.2.2 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
